#a, #i {
  background-color: grey;
}

#b {
  background-color: #A150E2;
}

#c {
  background-color: #263DC4;
}

#d {
  background-color: #4D64EB;
}

#e {
  background-color: #26970E;
}

#f {
  background-color: #42B829
}

#g {
  background-color: #75DB5F; 
}

#h {
  background-color: #83BF76;
}